<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="google-site-verification" content="sEkp_h83x34ceWWLcMvdBreir1ImVNRDvFpajftfBwc" />
        {% include meta_tags/base.html %}
        {% include externals/styling.html %}
    </head>
    <body>
        <div class="section-nav">
            {% include toc.html html=content %}
        </div>
        <div class="wrapper">
            {% include header.html %}
            {{ content }}
        </div>
        {% include externals/scripting.html %}
    </body>
</html>